<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://tizentube.live"
   version="1.2.1" viewmodes="maximized">
   <access origin="*" subdomains="true" />
   <tizen:application id="xvvl3S1bvH.TizenBrewStandalone" package="xvvl3S1bvH" required_version="2.3" />
   <author href="https://tizentube.live">Reis Can</author>
   <content src="index.html" />
   <feature name="http://tizen.org/feature/screen.size.normal.1080.1920" />
   <tizen:privilege name="http://tizen.org/privilege/internet" />
   <tizen:privilege name="http://developer.samsung.com/privilege/network.public" />
   <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
   <feature name="http://tizen.org/feature/web.service" />
   <icon src="icon.png" />
   <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true" />
   <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive" />
   <name>TizenBrewStandalone</name>
   <tizen:privilege name="http://tizen.org/privilege/application.launch" />
   <tizen:profile name="tv-samsung" />
   <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable"
      install-location="auto" hwkey-event="enable" />
   <tizen:service id="xvvl3S1bvH.StandaloneService">
      <tizen:content src="service/dist/index.js" />
      <tizen:name>TizenBrewService</tizen:name>
      <tizen:description>TizenBrewService</tizen:description>
   </tizen:service>
</widget>