<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://tizentube.vercel.app"
   version="1.0.3" viewmodes="maximized">
   <access origin="*" subdomains="true" />
   <tizen:app-control>
      <tizen:src name='index.html' reload='disable'></tizen:src>
      <tizen:operation name='http://samsung.com/appcontrol/operation/eden_resume'></tizen:operation> 
   </tizen:app-control>
   <tizen:application id="CvGD31Zr00.TizenBrewUpdater" package="CvGD31Zr00" required_version="3.0" />
   <author href="https://tizentube.vercel.app">Reis Can</author>
   <content src="index.html" />
   <feature name="http://tizen.org/feature/screen.size.all" />
   <tizen:privilege name="http://tizen.org/privilege/internet" />
   <tizen:privilege name="http://developer.samsung.com/privilege/network.public" />
   <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
   <tizen:privilege name="http://tizen.org/privilege/application.launch" />
   <feature name="http://tizen.org/feature/web.service" />
   <icon src="icon.png" />
   <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true" />
   <name>TizenBrew Updater</name>
   <tizen:profile name="tv-samsung" />
   <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable"
      install-location="auto" hwkey-event="enable" />
   <tizen:service id="CvGD31Zr00.UpdaterService">
      <tizen:content src="service/dist/index.js" />
      <tizen:name>TizenBrewService</tizen:name>
      <tizen:description>TizenBrewService</tizen:description>
   </tizen:service>
</widget>